@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@layer components {
  .active {
    @apply bg-error text-white font-bold scale-105 shadow-lg shadow-error/30 transition-all duration-300;
  }
}

/* Custom Scrollbar for a cleaner UI */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-50;
}

::-webkit-scrollbar-thumb {
  @apply bg-error/30 rounded-full hover:bg-error/50 transition-colors;
}